// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

/ {
  behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;
      flavor = "balanced";
      tapping-term-ms = <280>;
      quick-tap-ms = <175>;                // repeat on tap-into-hold
      require-prior-idle-ms = <150>;
      hold-trigger-on-release;             // delay positional check until key-release
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&mo>, <&kp>;
      flavor = "balanced";
      tapping-term-ms = <280>;
      quick-tap-ms = <175>;                // repeat on tap-into-hold
      require-prior-idle-ms = <150>;
      bindings = <&kp>, <&kp>;
      hold-trigger-on-release;             // delay positional check until key-release
    };
  };
};
